.mainIndex {
  .ui.fluid.container {
    width: 90%;
  }
}

.paymentSearch {
  border-bottom: 1px solid #000;
  color: grey;
}

.payMain {
  margin-top: 6%;
  h2.ui.header {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3%;
  }
}
