.sideBarCard {
  position: relative;
  top: -2%;
  left: 1px;
}

.sideBarCard .ui.card {
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sideBarCard button.ui.green.button {
  font-size: 12px;
  border-radius: 30px;
  position: relative;
  left: 13%;
}

.mainSection {
  position: relative;
  left: 15%;
}

.mainSection h4.ui.header {
  font-weight: 300;
  font-size: 11px;
  margin-top: 29px;
  font-family: Segoe UI;
}

.overViewSection {
  background: #18a0fb;
  padding: 14px;
  margin-left: -5%;
  margin-top: 8%;
  width: 110%;
  border-left: 2px solid black;
  color: black;
}

.overViewSection h4.ui.header {
  font-weight: 300;
  position: relative;
  left: 13%;
  font-size: 13px;
}

.overViewSection i.compass.outline.icon {
  font-weight: 100;
}

.paymentSection {
  position: relative;
  left: 15%;
}

.paymentSection h4.ui.header {
  font-weight: 300;
  font-size: 11px;
  margin-top: 29px;
  font-family: Segoe UI;
}

.allPaymentsSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.reconciledPaymentSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.unReconciledPaymentSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.manualSettlementSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.ordersSection {
  position: relative;
  left: 15%;
}

.ordersSection h4.ui.header {
  font-weight: 300;
  font-size: 11px;
  margin-top: 29px;
  font-family: Segoe UI;
}

.allOrdersSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.pendingOrdersSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.reconciledOrdersSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.merchantProfileSection h4.ui.header {
  position: relative;
  left: 14%;
  font-weight: 100;
  margin-top: 20px;
  font-size: 13px;
}

.secondLowerPart {
  background: #e5e5e5;
  margin-left: -205px;
}

.firstCard .meta {
  font-size: 13px !important;
}

.firstCard .ui.card {
  border-radius: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondCard .meta {
  font-size: 13px !important;
}

.secondCard .ui.card {
  border-radius: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.thirdCard .meta {
  font-size: 13px !important;
}

.thirdCard .ui.card {
  border-radius: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.fourthCard .meta {
  font-size: 13px !important;
}

.fourthCard .ui.card {
  border-radius: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondLowerPart {
  width: 1076px;
  padding-left: 49px;
  padding-right: 66px;
}

.TableReal table.ui.basic.table {
  border-radius: 0px;
  background: #ffffff;
}

.paymentPic p {
  background: #7f8fa4;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  line-height: 16px;
  padding: 5px;
}

.paymentPic h4.ui.header {
  position: relative;
  margin-top: -35px;
  margin-left: 16%;
  font-weight: 400;
}

.reconciledButton button.ui.white.button {
  background: white;
  border: 1px solid grey;
  border-radius: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 47px;
  color: #27ae60;
  font-weight: 500;
  font-size: 14px;
}

.reconciledButton button.ui.white.button p {
  position: absolute;
  margin-left: -2%;
  font-size: 39px;
  font-weight: bolder;
  margin-top: -4%;
}

.pendingButton button.ui.white.button {
  background: white;
  border: 1px solid grey;
  border-radius: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 66px;
  color: #ebc315;
  font-weight: 500;
  font-size: 14px;
}

.pendingButton button.ui.white.button p {
  position: absolute;
  margin-left: -2%;
  font-size: 39px;
  font-weight: bolder;
  margin-top: -4%;
}

.unReconciledButton button.ui.white.button {
  background: white;
  border: 1px solid grey;
  border-radius: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 28px;
  color: #7f8fa4;
  font-weight: 500;
  font-size: 14px;
}

.unReconciledButton button.ui.white.button p {
  position: absolute;
  margin-left: -2%;
  font-size: 39px;
  font-weight: bolder;
  margin-top: -4%;
}

.lowerlayer {
  margin-top: 24px;
}

.textLow {
  margin-top: 3%;
  font-size: 13px;
}

.GraphTitle {
  background: #ffffff;
  margin-top: 20px;
  width: 127%;
}

.graphDate button.ui.button {
  background: white;
  -webkit-box-shadow: 2px 1px 4px #888888;
          box-shadow: 2px 1px 4px #888888;
  padding-left: 10px;
  padding-right: 46px;
}

.dateText {
  margin-left: 13px;
  margin-top: 8px;
}

.orderTitle .ui.header {
  font-size: 13px;
}

.progressBar {
  margin-top: 13px;
  background: #fdc203;
}

.topCard {
  width: 77%;
  margin-left: 23%;
}

.lowerCard {
  width: 77%;
  margin-left: 23%;
}

.pendStatus .ui.header {
  font-size: 13px;
}

.reconStatus {
  margin-top: 11px;
}

.reconStatus .ui.header {
  font-size: 13px;
}

.totalStatus {
  margin-top: 11px;
}

.totalStatus .ui.header {
  font-size: 13px;
}
/*# sourceMappingURL=MainDashboard.css.map */